<owl-carousel-o [options]="customOptions">
  <ng-template *ngFor="let food of foods" carouselSlide>
    <div>
      <div style="border-top-left-radius: 1rem">
        <img
          [src]="food.images[0] ? food.images[0] : food.images[1]"
          alt="food image"
          title="food image"
          style="
            border-top-left-radius: 0.7rem;
            border-top-right-radius: 0.7rem;
          "
          class="w-full"
        />
      </div>
      <div>
        <div class="flex justify-between mt-4">
          <p class="text-red-600 text-lg">{{ food.title | cutPipe : 3 }}</p>

          <!-- <button (click)="changeFavStatus()">
            <img
              *ngIf="!favStatus"
              class="w-8"
              src="assets\food-imgs\empty-heart.jpg"
              alt=""
            />
            <img
              *ngIf="favStatus"
              class="w-8"
              src="assets\food-imgs\fav-heart.png"
              alt=""
            />
          </button> -->
        </div>
        <div class="flex justify-between items-center">
          <div>
            <a [routerLink]="['/category', food.category.name]">
              <button mat-dialog-close mat-stroked-button color="link">
                {{ food.category.name }}
              </button>
            </a>
          </div>
          <div class="flex items-center gap-x-1">
            <mat-icon>av_timer</mat-icon>
            <span class="text-md">15 min</span>
          </div>
        </div>
        <p style="margin-top: 1rem; padding-left: 0.5rem" class="text-lg">
          {{ food.price | currency }}
        </p>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
