<section class="flex h-screen w-full justify-center items-center">
  <div
    class="rounded-sm shadow-lg shadow-gray-400 w-[90%] md:w-[50%] lg:w-[30%] p-4"
  >
    <div *ngIf="errorMsg" class="my-4 py-2 px-4 bg-red-400 text-xl text-white">
      <p>{{ errorMsg }}</p>
    </div>
    <div>
      <div class="my-4">
        <mat-form-field class="w-full">
          <mat-label class="capitalize text-xl">email</mat-label>
          <input
            [(ngModel)]="email"
            class="w-full text-xl"
            type="email"
            placeholder="Ex. pat@example.com"
            matInput
          />
        </mat-form-field>
      </div>
      <div class="mb-4 mt-8">
        <mat-form-field class="w-full">
          <mat-label class="capitalize text-xl">password</mat-label>
          <input [(ngModel)]="password" matInput type="password" />
        </mat-form-field>
      </div>
      <div class="flex items-center gap-x-4">
        <button
          style="padding: 1.5rem 1.4rem"
          class="text-xl capitalize"
          (click)="login(email, password)"
          mat-raised-button
          color="primary"
        >
          login
        </button>
        <mat-spinner *ngIf="loginLoader" style="width: 3rem"></mat-spinner>
      </div>

      <div class="flex justify-between mt-4">
        <p class="text-blue-600 capitalize text-xl">need account?</p>
        <p class="capitalize text-xl">
          <a routerLink="/password-forget">forget password?</a>
        </p>
      </div>
      <p class="capitalize text-xl mt-1 text-red-600">
        <a routerLink="/signup">regester</a>
      </p>
      <button
        (click)="loginWithGoogle()"
        class="w-full capitalize text-2xl shadow-lg border-t-4 border-orange-300 shadow-gray-300 mb-4 mt-8 py-4 px-2 gap-x-2 flex justify-center items-center"
      >
        <img
          width="30px"
          height="20px"
          src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png"
          alt=""
        /><span>sign in with google</span>
      </button>
    </div>
  </div>
</section>
