<section class="flex h-screen w-full justify-center items-center">
  <div class="rounded-sm shadow-lg shadow-gray-400 w-full lg:w-[30%] p-4">
    <h2 class="text-2xl capitalize text-gray-500 font-bold mb-8 mt-8">
      enter your email address to sent you verrifications link
    </h2>
    <div *ngIf="errorMsg" class="my-4 p-2 bg-red-200 text-lg">
      <p>{{ errorMsg }}</p>
    </div>
    <div *ngIf="successMsg" class="my-4 p-2 bg-green-200 text-lg">
      <p>{{ successMsg }}</p>
    </div>
    <div>
      <div class="mb-2">
        <mat-form-field class="w-full">
          <mat-label class="capitalize text-xl">email</mat-label>
          <input
            matInput
            [(ngModel)]="email"
            style="font-size: 1.3rem"
            class="w-full pl-4 text-xl h-14 rounded-md border-y-2 border-x-2 border-gray-200"
            type="email"
          />
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        style="padding: 1.5rem 1rem; margin-bottom: 0.5rem"
        color="primary"
        (click)="forgetPassword(email)"
        type="submit"
        class="text-2xl capitalize"
      >
        send link!
      </button>
      <p class="text-blue-600 mt-8 capitalize text-xl">need account?</p>

      <div class="flex flex-col gap-y-2 mt-2">
        <p class="capitalize text-xl mt-1 text-red-600">
          <a routerLink="/signup">regester</a>
        </p>
        <p class="capitalize text-xl mt-1 text-red-600">
          <a routerLink="/login">login</a>
        </p>
      </div>
    </div>
  </div>
</section>
