<section>
  <div class="h-screen w-full">
    <div
      class="flex flex-col md:flex-row gap-y-8 md:gap-y-0 justify-center items-center h-full gap-x-10"
    >
      <img class="w-1/2 md:w-1/3" src="assets\shared\norfound.png" alt="" />
      <div>
        <h2
          class="fredoka text-xl uppercase text-red-500"
          style="font-size: 3rem"
        >
          page not found
        </h2>
        <div class="flex justify-center">
          <!-- <button mat-stroked-button color="accent" class="mt-8 capitalize">
            go to home page
          </button> -->
          <p
            class="capitalize inline-block text-blue-500 border-blue-500 text-lg md:text-xl border-b-2 hover:border-red-500 pb-1 select-none hover:cursor-pointer hover:text-red-500"
            style="margin-top: 2rem"
          >
            <a routerLink="/home">go to home page</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
